# Environnement
PROJECT_NAME="AFRIX GLOBAL Gestion des Congés"
API_V1_STR="/api/v1"
SECRET_KEY="AFRIX-GLOBAL-Gestion-des-Congés Secret-key"
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM="HS256"

# Base de données PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=afrix_conges

# CORS (Frontend Angular)
BACKEND_CORS_ORIGINS=["http://localhost:4200"]